In [2]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [3]:
order_df = pd.read_csv("orders.csv").sample(1000)

In [4]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
290447,3198320,17583,prior,3,6,13,8.0
568720,2686332,34255,prior,4,0,10,5.0
1199017,1515081,72079,prior,8,2,16,4.0
1692918,1546541,101601,prior,1,1,13,NaN
1208478,620482,72666,prior,24,1,16,2.0

In [5]:
aisles_df = pd.read_csv("aisles.csv")

In [6]:
 departments_df = pd.read_csv("departments.csv")

In [7]:
order_products_df = pd.read_csv("order_products.csv").sample(1000)

In [8]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [9]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [10]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
25841997   2725324        7469                 16          0
7091084     748677       30121                  1          1
5012874     529144       18699                  3          1
31120629   3282549        5549                 10          1
10078695   1064210        1542                 14          0

In [11]:
products_df = pd.read_csv("products.csv")

In [12]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [14]:
connection = mysql.connector.connect(
    user='root',
    password='----r',
    host='127.0.0.1',
    database='ecommerce_db'
)

In [15]:
cursor = connection.cursor()

In [16]:
engine = create_engine('mysql+mysqlconnector://root:Mayur@127.0.0.1/ecommerce_db')

In [17]:
order_schema = "CREATE TABLE IF NOT EXISTS `order` (order_id INT, user_id INT, order_number INT, order_dow INT, order_hour_of_day INT, days_since_prior_order INT);"
aisles_schema = "CREATE TABLE IF NOT EXISTS `aisles` (aisle_id INT, aisle TEXT);"
departments_schema = "CREATE TABLE IF NOT EXISTS `departments` (department_id INT, department TEXT);"
order_products_schema = "CREATE TABLE IF NOT EXISTS `order_products` (order_id INT, product_id INT, add_to_cart_order INT, reordered INT);"
products_schema = "CREATE TABLE IF NOT EXISTS `products` (product_id INT, product_name TEXT, aisle_id INT, department_id INT);"

In [18]:
cursor.execute(order_schema)
cursor.execute(aisles_schema)
cursor.execute(departments_schema)
cursor.execute(order_products_schema)
cursor.execute(products_schema)

In [19]:
connection.commit()

In [20]:
engine = create_engine('mysql+mysqlconnector://root:Mayur@127.0.0.1/ecommerce_db')

In [21]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [23]:
departments_data = pd.read_csv("departments.csv")
departments_data.to_sql(name='departments', con=engine, if_exists='replace', index=False)

21

In [ ]:
import pandas as pd

In [ ]:

products_data = pd.read_csv("products.csv")
products_data.head(1000).to_sql(name='products', con=engine, if_exists='replace', index=False)

In [ ]:
orders_data = pd.read_csv("orders.csv")
orders_data.head(1000).to_sql(name='orders', con=engine, if_exists='replace', index=False)

In [ ]:
order_products_data = pd.read_csv("order_products.csv")
order_products_data.head(1000).to_sql(name='order_products', con=engine, if_exists='replace', index=False)